{% extends 'base.html.twig' %}

{% block body %}
    <h1>Reviews list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Text</th>
                <th>Publication date</th>
                <th>note</th>
                <th>Author</th>
                <th>User rated</th>
            </tr>
        </thead>
        <tbody>
        {% for review in reviews %}
            <tr>
                <td><a href="{{ path('review_show', { 'id': review.id }) }}">{{ review.id }}</a></td>
                <td>{{ review.text }}</td>
                <td>{{ review.publicationDate|date('Y-m-d H:i:s') }}</td>
                <td>{{ review.note }}</td>
                <td>{{ review.reviewAuthor }}</td>
                <td>{{ review.userRated }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('review_show', { 'id': review.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('review_edit', { 'id': review.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('user_index') }}">To Create a new review go to User page</a>
        </li>
    </ul>
{% endblock %}
